/* flex */
.Flex_column {
  display: flex;
  flex-direction: column;
}
.Flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flex_center_top {
  display: flex;
  justify-content: center;
  align-items: start;
}
.Flex_row {
  display: flex;
}
.Flex_row_a_center {
  display: flex;
  align-items: center;
}
.Flex_row_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Flex_row_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* =============================================== */
/* form old */
.btn {
  background: var(--page-two);
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-style: Regular;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 15px 49px;
  color: var(--text-first);
}

.hr {
  width: 136px;
  height: 2px;
  opacity: 1;
}
.card_btn_nav {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.a {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
/* page */
.form_page {
  max-width: 1440px;
  padding: 0 135px;
  margin: auto;
}
.hover_up_y {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  transform: translateY(-6px);
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*  form new button */
.p_10 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-p-10);
}
.p_14 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.p_14_w {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-white2);
}
.p_14_133 {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(133, 139, 147, 1);
  text-align: start;
}
.h2_12 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  color: var(--text-personal);
  line-height: 100%;
  letter-spacing: 0%;
}
.h_16_w {
  font-family: Sora;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(249, 249, 249, 1);
  text-align: start;
}
.btn_21 {
  width: 20px;
  height: 21px;
  opacity: 1;
  border-radius: 8px;
  background-color: rgba(21, 26, 30, 1);
}
.h_40_w {
  font-family: Sora;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  color: rgba(249, 249, 249, 1);
}
.color_text_span {
  background: linear-gradient(to right, #ffe600, #7cff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* card new */
