* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Sora;
}

h1 {
  width: auto;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(249, 249, 249, 1);
}
h2 {
  font-family: Sora;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(249, 249, 249, 1);
}
h3 {
  font-family: Sora;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(249, 249, 249, 1);
}
h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(249, 249, 249, 1);
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(133, 139, 147, 1);
}
button:hover {
  cursor: pointer;
}
.button {
  width: 199px;
  height: 54px;
  border-radius: 8px;
  border: none;
  background-color: rgba(40, 44, 48, 1);
  color: rgba(249, 249, 249, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 10px;
}
.button:hover {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}
.form_page {
  width: 100%;
  max-width: 1440px;
  padding: 0 135px;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-top-bottom {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
}
.text-gradient {
  background: linear-gradient(to right, #eca610c4, #bbec1a, #24e143);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.img-icon {
  width: 30px;
  height: 30px;
}
.line {
  /* Bằng 1/2 chiều cao của icon để vào chính giữa */
  position: relative;
  width: 195px; /* Kéo dài sang icon tiếp theo */
  top: 64px;
  flex: 1;
  height: 0px;
  margin-left: -3%;
  margin-right: -3%;
  flex-grow: 1;
  border-top: 1px dashed #4b5563; /* Đường chấm mờ */
}
